<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
    <link rel="stylesheet" href="../../static/gameApp/gameApp.css">

</head>
<body class="container">

<section>
<h2>Are you sure you want to delete?</h2>
<form method="post">
    {% csrf_token %}
    <!--TO DISPLAY THE GAME SELECTED FOR DELETION-->
    Delete, {{ selectedgame }} ?
    <input type="submit" value="Delete">
    <!--RETURN TO INDEX-->
    <a href="{% url 'index' %}"><button>Cancel</button></a>

</form>

</section>
</body>
</html>